


.fontRoboto {
    font-family: sans-serif;
    
}

.headerMackbook {
    width: max-content;
    height: 45px;
    align-content: center;
    background-color: rgb(53, 50, 50)
  
}

.DivisionHeader {
    text-align: center ;
    border: 1px solid rgb(53, 50, 50);
    width: 1330px;
    height: 70px;
    display: inline-block;
    background-color: rgb(53, 50, 50);
    color: rgb(171, 171, 175);
    
}

.seccionesHeader {
    width: 82px;
    height: 45px;
    display: inline-block;
    border: 1px solid rgb(53, 50, 50);
    background-color: rgb(53, 50, 50);
}

.linkHeader {
    color: rgb(171, 171, 175);
    text-decoration: none;
}



.appleLogo {
    height: 45px;
    width: auto;
}



.informationMacbook {
    text-align: center;
    font-family: sans-serif;
    color: rgb(29,29,31);


}

.texto1{
    text-align: center;
    color: black;
}

#nuevo {
    color: rgb(192, 29, 29);
    
}

.button {
    color: white;
    background-color: rgb(0, 113, 227) ;
    border-style: inherit;
    text-decoration: none;
    font-size: small;
    
}

.imagen1 {
    width: 750px;
    height: 150px;
    margin: 0px auto;
    padding-bottom: 50px;
    padding-top: 100px;
   
}

.imagenPC {
    width: 750px;
    height: 140px; 
    align-items: center;
}

.paralel1 {
    background-color: rgb(242, 242, 242);
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: 255px;
    float: left;
    margin-bottom: 100px;
}

#paralel2 {
    margin-left: 30px;
}
.texto2 {
    text-align: center;
    font-family: sans-serif;
}


.imagen2 {
    width: 400px;
    padding-top: 103px;
}

#smallerLetter {
    font-size: 12px;
}

.imagen3 {
    width: 250px;
    align-items: center;
    
    padding-top: 20px;
}

.paragraph3 {
    width: 300px;
    height: 400px;
    padding-left: 522px;
    color: rgb(29,29,31);
}
.link {
    color: rgb(0, 113, 227);
    text-decoration: none;
}
 




.mainFooter {
    width: auto;
    height: 100px;
    background-color: rgb(245, 245, 247);
    margin-top: 500px;
}

.div1 {
    text-align: center;
    width: auto;
    height: 20px;
    display: inline-block;
    padding-right: 15px;
    padding-top: 10px;
    
    
    
    
}

.div2 {
    padding-left: 100px;
}

.divAlign {
    text-align: left;
    width: auto;
    height: 20px;
    padding-left: 100px;
    padding-top: 15px;
    
    
}

.fontRoboto {
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    color: rgb(84, 84, 81);
}

#footerLink {
    color: rgb(84, 84, 81);
}

